<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Order Info</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script>
    function fetchDeliveryStatus() {
      console.log("fetch delivery data")
      let orderId = document.getElementById("orderId").innerText
      if (orderId === "UNKNOWN"){
        document.getElementById("status").innerText = "Status: ERROR: no orderId found";
        return;
      }
      fetch("/delivery/status/" + orderId)
              .then(response => response.json())
              .then(data => {
                document.getElementById("status").innerText = "Status: " + data.status;
              })
              .catch(error => console.error("Fehler beim Abrufen des Lieferstatus:", error));
    }

    // Polling alle 5 Sekunden (5000 ms)
    setInterval(fetchDeliveryStatus, 5000);

    // Initiales Abrufen des Status
    window.onload = fetchDeliveryStatus;
  </script>
</head>


<body>
<p th:if="${errorMessage}" style="color: red; font-weight: bold;">
  <span th:text="${errorMessage}"></span>
</p>
<h1>Order Successfully Placed!</h1>
<p>Thank you for your order, <span th:text="${delivery?.getOrder()?.getName() ?: 'UNKNOWN'}"></span></p>
<p>Your order ID: <span id=orderId th:text="${delivery?.getOrder()?.getId() ?: 'UNKNOWN'}"></span></p>
<p>Selected Drink: <span th:text="${delivery?.getOrder()?.getDrink()?.getName() ?: 'UNKNOWN'}"></span></p>
<p>Selected Food: <span th:text="${delivery.getOrder()?.getFood()?.getName() ?: 'UNKNOWN'}"></span></p>
<p id="status">Loading...</p>
</body>

</html>